.row {
    border: none;
    /*overflow: auto;*/
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class^='col-'] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-1 {
    width: calc( 100% * 12 / 12);
}

.col-md-3 {
    width: calc( 100% * 3 / 12);
}

.col-md-4 {
    float: left;
    width: calc(100% *4 / 12);
}

.col-md-6 {
    float: left;
    width: calc(100% *6 / 12);
}


/* general */


/* primary: orange */

h2 {
    color: goldenrod;
}

h6 {
    color: white;
}

body {
    padding-top: 50px;
}

h5 {
    color: dimgrey;
}

h1,
h3,
p,
a,
span {
    color: #333;
}

body {
    padding-top: 50px;
}

.paragraph {
    text-align: justify;
}


/* navbar */

.navbar {
    width: 100%;
    height: 50px;
    background-color: goldenrod;
    opacity: 0.9;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
}

.navbar-header {
    margin-top: 0;
    float: left;
    height: 40px;
    line-height: 50px;
}

.navbar-list {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-brand,
.navbar-list>li {
    float: left;
    height: 40px;
    line-height: 50px;
    margin: 10px;
}

.navbar-brand,
.navbar-list>li>a {
    color: white;
    text-decoration: none;
}

.signature {
    height: 40px;
    position: fixed;
}


/* header */

@media screen and (min-width: 601px) {
    .header-title {
        color: red;
    }
}

@media screen and (max-width: 600px) {
    .header-title {
        color: blue;
    }
}

header {
    background: none;
    padding-top: none;
    padding-bottom: none;
    /* padding: 50px 0 */
    position: relative;
}

.backgroundimg {
    width: cover;
    filter: grayscale(50%);
}

.header-img {
    width: 200px;
    border-radius: 50%;
    z-index: 100;
    position: relative;
}

[id^='photoImg'] {
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: all .5s ease;
}

[id^='photoImg']>h4 {
    color: white;
    text-align: center;
    line-height: 220px;
    margin: 0;
    font-size: 6px;
    opacity: 0;
    transition: all .5s ease;
}

[id^='photoImg']:hover {
    filter: grayscale(0%);
}

[id^='photoImg']:hover>h4 {
    font-size: 24px;
    opacity: 1;
}

.Name {
    width: 300px;
}


/* introSeciton */

#introSection {
    padding: 50px 0;
    text-align: center;
}

.icon,
.icon>a {
    color: white;
}

.icon-footer>a {
    color: white;
}


/*slide container img setting*/

.rotation {
    display: inline-block;
    overflow: hidden;
    width: 210px;
    height: 297px;
}


/*slide container img setting
.slider_container_pat>img {
    display: inline-block;
    overflow: hidden;
    width: 210px;
    height: 297px;
}

.slider_container_pub>rotation {
    display: inline-block;
    overflow: hidden;
    width: 210px;
    height: 297px;
}

.slider_container_cert>rotation {
    display: inline-block;
    overflow: hidden;
    width: 210px;
    height: 297px;
}
*/


/*CSS slide container Style-Patent

.slider_container_pat {
    margin: 30px auto;
    width: 180px;
    height: 255px;
    position: relative;
    border: 20px solid;
    border-color: #fff;
    border-bottom-width: 100px;
    background-color: #f5f5f5;
    box-shadow: #666 0 0 5px;
}
*/


/*CSS slide container Style-Patent

.slider_container_pat div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
*/


/*CSS slide container Style-patent*/

.slider_container_pat {
    margin: 0% auto;
    width: 190px;
    height: 255px;
    position: relative;
    border: 5px solid;
    border-color: #fff;
    border-bottom-width: 0px;
    background-color: #fff;
    box-shadow: #666 0 0 5px;
}

.slider_container_pat div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    filter: alpha(opacity=0%);
}


/*CSS3 Keyframes Animation
設定動畫週期。*/

.slider_container_pat div {
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}


/*每張圖片進場時間相隔5秒*/

.slider_container_pat div:nth-child(2) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.slider_container_pat div:nth-child(1) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}


/*CSS transition當滑鼠移到圖片上時、底下出現 “Image Description" 字樣且輪播動畫暫停。當滑鼠離開時、"Image Description" 字樣且輪播動畫繼續播放。*/

.slider_container_pat span {
    color: #fff;
    background: #DAA520;
    position: absolute;
    left: 0%;
    bottom: 35%;
    width: 180px;
    height: 50px;
    font-size: 10px;
    text-align: center;
    line-height: 50px;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slider_container_pat:hover span {
    width: 100%;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}


/*Pause And Restart
當滑鼠移到圖片上時，暫停播放動畫。*/

.slider_container_pat:hover div {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}


/*CSS slide container Style-publication*/

.slider_container_pub {
    margin: 0% auto;
    width: 190px;
    height: 255px;
    position: relative;
    border: 5px solid;
    border-color: #fff;
    border-bottom-width: 0px;
    background-color: #fff;
    box-shadow: #666 0 0 5px;
}

.slider_container_pub div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    filter: alpha(opacity=0%);
}


/*CSS3 Keyframes Animation
設定動畫週期。*/

.slider_container_pub div {
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}


/*每張圖片進場時間相隔5秒*/

.slider_container_pub div:nth-child(5) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.slider_container_pub div:nth-child(4) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.slider_container_pub div:nth-child(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.slider_container_pub div:nth-child(2) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.slider_container_pub div:nth-child(1) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}


/*CSS transition當滑鼠移到圖片上時、底下出現 “Image Description" 字樣且輪播動畫暫停。當滑鼠離開時、"Image Description" 字樣且輪播動畫繼續播放。*/

.slider_container_pub span {
    color: #fff;
    background: #DAA520;
    position: absolute;
    left: 0%;
    bottom: 15%;
    width: 180px;
    height: 120px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slider_container_pub:hover span {
    width: 100%;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}


/*Pause And Restart
當滑鼠移到圖片上時，暫停播放動畫。*/

.slider_container_pub:hover div {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}


/*CSS slide container Style-Certificate*/

.slider_container_cert {
    margin: 0% auto;
    width: 190px;
    height: 255px;
    position: relative;
    border: 5px solid;
    border-color: #fff;
    border-bottom-width: 0px;
    background-color: #fff;
    box-shadow: #666 0 0 5px;
}


/*CSS slide container Style-Certificate*/

.slider_container_cert div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*CSS slide container Style-certificate*/

.slider_container_cert {
    margin: 0% auto;
    width: 190px;
    height: 255px;
    position: relative;
    border: 5px solid;
    border-color: #fff;
    border-bottom-width: 0px;
    background-color: #fff;
    box-shadow: #666 0 0 5px;
}

.slider_container_cert div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    filter: alpha(opacity=0%);
}


/*CSS3 Keyframes Animation
設定動畫週期。*/

.slider_container_cert div {
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}


/*每張圖片進場時間相隔5秒*/

.slider_container_pub div:nth-child(5) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.slider_container_pub div:nth-child(4) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.slider_container_pub div:nth-child(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.slider_container_pub div:nth-child(2) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.slider_container_pub div:nth-child(1) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}


/*CSS transition當滑鼠移到圖片上時、底下出現 “Image Description" 字樣且輪播動畫暫停。當滑鼠離開時、"Image Description" 字樣且輪播動畫繼續播放。*/

.slider_container_pub span {
    color: #fff;
    background: #DAA520;
    position: absolute;
    left: 0%;
    bottom: 15%;
    width: 180px;
    height: 120px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slider_container_pub:hover span {
    width: 100%;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}


/*Pause And Restart
當滑鼠移到圖片上時，暫停播放動畫。*/

.slider_container_pub:hover div {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}


/*CSS slide container Style-Certificate*/

.slider_container_cert {
    margin: 0% auto;
    width: 190px;
    height: 255px;
    position: relative;
    border: 5px solid;
    border-color: #fff;
    border-bottom-width: 0px;
    background-color: #fff;
    box-shadow: #666 0 0 5px;
}


/*CSS slide container Style-Certificate*/

.slider_container_cert div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*.carousel .item {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 150px;
}

.carousel.item>h4 {
    color: goldenrod;
    text-align: left;
}

.item:nth-child(1) {
    background: goldenrod;
    background-image: url(../img/pub/2014MCP.png);
    background-size: auto 280px;
}

.item:nth-child(2) {
    background: goldenrod;
    background-image: url(../img/pub/2014MCP.png);
    background-size: auto 280px;
}

.item:nth-child(3) {
    background: goldenrod;
    background-image: url(../img/pub/2013TaiwanJObstetGynecol.png);
    background-size: auto 280px;
}

.item:nth-child(4) {
    background: goldenrod;
    background-image: url(../img/pub/2012TaiwanJObstetGynecol.png);
    background-size: auto 280px;
}

.item:nth-child(5) {
    background: goldenrod;
    background-image: url(../img/pub/2011JChinMedAssoc.png);
    background-size: auto 280px;
}
*/


/*image animation*/

[id^='photoImg'] {
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: all .5s ease;
}

[id^='photoImg']>h4 {
    color: white;
    text-align: center;
    line-height: 220px;
    margin: 0;
    font-size: 6px;
    opacity: 0;
    transition: all .5s ease;
}

[id^='photoImg']:hover {
    filter: grayscale(0%);
}

[id^='photoImg']:hover>h4 {
    font-size: 24px;
    opacity: 1;
}


/* footer */

footer {
    background: goldenrod;
    padding: 30px 0;
    text-align: center;
    color: white;
    /* 受限於前面 h1,h2....一起已經綁定設定而無法設成白色,須額外指定fotter之下的h1,參下方 */
}

footer {
    color: white;
}

#contact li {
    list-style-type: none;
    text-align: center;
}

.clear {
    clear: left;
}
